# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Isaque\Documents\CURSOS\Backup\CURSOS\Curso Java\Gama\MJV\mjvDevScholl\maven-jdbc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
